<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <title>radium-datagrid demo</title>
  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../../iron-icon/iron-icon.html">
  <link rel="import" href="../../paper-styles/paper-styles.html">
  <link rel="import" href="../../paper-button/paper-button.html">
  <link rel="import" href="../radium-datagrid.html">
  <style is="custom-style">
    body {
      font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    #gridExample {
      min-width: 480px;
      max-width: 480px;
      height: 400px;
    }
    .right-col {
      margin: 0px 16px 16px 16px;
    }
    .demo-button {
      width: 240px;
      color: #FFFFFF;
      background-color: var(--paper-blue-500);
    }
    radium-datagrid-column {
      cursor: pointer;
    }
    iron-icon.selected {
      color: var(--paper-blue-500);
    }
  </style>
</head>
<body unresolved>
  <template is="dom-bind" id="app">
    <h3>radium-datagrid example (item selection via icon)</h3>
    <div class="horizontal layout">
      <div id="gridExample">
        <radium-datagrid id="grid" items="[[_initialItems]]" multi-selection="[[_multiSelect]]" desktop-multi-selection="[[_desktopMulti]]"
          on-item-select="_itemSelected" on-item-deselect="_itemDeselected" on-row-tap="_rowTapped">
          <template>
            <radium-datagrid-row selected="[[selected]]">
              <radium-datagrid-column id="icon" column-width="72" on-tap="_toggleSelection">
                <iron-icon icon="check-box-outline-blank"></iron-icon>
              </radium-datagrid-column>
              <radium-datagrid-column id="foo" header="Foo"><span>[[row.foo]]</span></radium-datagrid-column>
              <radium-datagrid-column id="bar" header="Bar"><span>[[row.bar]]</span></radium-datagrid-column>
              <radium-datagrid-column id="baz" header="Baz"><span>[[row.baz]]</span></radium-datagrid-column>
            </radium-datagrid-row>
          </template>
        </radium-datagrid>
      </div>
      <div class="vertical layout">
        <paper-button class="right-col demo-button" raised on-click="_toggleMulti">Multi Selection: <span>[[_multiSelect]]</span></paper-button>
        <paper-button class="right-col demo-button" raised on-click="_toggleDektopMulti">Desktop Multi: <span>[[_desktopMulti]]</span></paper-button>
        <div id="tapDisplay" class="right-col"></div>
      </div>
    </div>
  </template>
  <script>
      app._multiSelect = false;
      app._desktopMulti = false;
      app._genFakeData = function() {
        var data = [];
        for (var i=0;i<26;i++) {
          var a = Math.floor(65 + (i / 26));
          var b = 65 + (i % 26);
          var firstChar = String.fromCharCode(a);
          var secondChar = String.fromCharCode(b);
          data.push({
            foo: firstChar + secondChar + firstChar + secondChar,
            bar: secondChar + firstChar + secondChar + firstChar,
            baz: a.toString() + b.toString()
          });
        }
        return data;
      };
      app._toggleSelection = function(e) {
        e.stopPropagation();
        app.$.grid.applySelectionRules(e);
      };
      app._itemSelected = function(e) {
        var icon = app.$.grid.getRowElementForItem(e.detail).querySelector('iron-icon');
        app.toggleClass('selected', true, icon);
        icon.icon = 'check-box';
      };
      app._itemDeselected = function(e) {
        var icon = app.$.grid.getRowElementForItem(e.detail).querySelector('iron-icon');
        app.toggleClass('selected', false, icon);
        icon.icon = 'check-box-outline-blank';
      };
      app._rowTapped = function(e) {
        app.$.tapDisplay.innerHTML = 'Tapped Foo: ' + e.detail.row.foo;
        app.async(function() {
          app.$.tapDisplay.innerHTML = '';
        }.bind(app), 1000);
      };
      app._toggleMulti = function() {
        app.$.grid.clearSelection();
        app._multiSelect = !app._multiSelect;
      };
      app._toggleDektopMulti = function() {
        app.$.grid.clearSelection();
        app._desktopMulti = !app._desktopMulti;
      };
      app._initialItems = app._genFakeData();
  </script>
</body>
</html>
